body
{
	background-image: url('../pics/background.svg');
	background-size: cover;
}

div
{
	margin: 5%;
}

div.mainpart {
	padding: 20px;
	background-color: #FFDAB9;
}
div.logout_button {
	margin: 10px;
	border: 1px solid yellow;
	padding: 5px 10px 5px 10px;
	float: right;
}
a:link
{
	font-weight: bold;
	color: green;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
	color: brown;
}